header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .menu-icon {
    font-size: 2rem;
    color: white;
    display: none;
    cursor: pointer;
  }
  #menu-toggle {
    display: none;
  }

  header .log {
    display: flex;
    text-align: center;
    align-items: center;
  }

  header img {
    height: 80px;
   width: auto;
    border-radius: 100px;
  }
  header h1 {
    margin-left: 10px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }

  header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  header .navbar a {
    font-size: 1.2rem;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  header .navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .navbar-search-form {
    display: flex;
    flex-direction: columns;
    gap: 2px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
  }

  .navbar-search-form input {
    color: #333;
    padding: 10px 10px;
    font-size: 1rem;
    border-color: #010044;
    border-radius: 8px;
    width: 100%;
  }

  .navbar-search-form button {
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #010044;
    color: white;
    border: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .navbar-search-form button:hover {
    background-color: #0056b3
  }

  header .login {
    position: relative;
    display: inline-block;

  }

  header .login a{
    font-size: 1.2rem;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  .login button {
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #010044;
    color: white;
    border: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login button:hover {
    background-color: #0056b3;
  }

  .dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #010044;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 5px
}

.arrow {
  font-size: 0.8rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
}

.dropdown-menu a {
  color: #333;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* Show menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}



@media (max-width: 838px){
nav.navbar {
    display: none;
}
}

@media (max-width: 768px){
}

@media (max-width: 630px) {
header {
    padding: 0px;

}

header .log {
    margin-left: 0px;
}

header img{
    width: 60px;
    height: auto;
}
header h1 {
    margin-left: 5px;

    font-size: 0.8rem;
    font-weight: bold;
  }

nav.navbar {
    display: none;
}

nav.navbar-search {
    display: none;
}

header .login {
    margin-right: 10px;
}

header .login a{
    padding: 2px;
    color: black;
    text-decoration: none;
  }

.login button {
    font-size: 0.8rem;
    padding: 10px 25px;
  }
}