<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>LocaView</title>
    {% block extra_css %}

    {% endblock extra_css %}

</head>
<body>
{% include 'navbar.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}


{% endblock content %}

{% include 'footer.html' %}

</body>
</html>