<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>

<body>
<!-- Navbar -->

<header>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">☰</label>
    <div class="log">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'logo.png' %}" alt="">
        </a>
        <h1>LocaView</h1>
    </div>

    {% if request.path != '/businesses/' %}
    <nav class="navbar">
        <a href="{% url 'businesses' %}">Business</a>
        <a href="#blog">Blog</a>
    </nav>
    {% else %}
    <nav class="navbar-search">
        <form method="GET" action="{% url 'businesses' %}" class="navbar-search-form">
            {% csrf_token %}
            <input type="text" name="b" placeholder="Enter business name...."/>
            <button type="submit">Search</button>
        </form>
    </nav>
    {% endif %}


    {% if request.user.is_authenticated %}
    <div class="dropdown">
        <button class="dropdown-toggle">
            {{ user.username }} <span class="arrow">▼</span>
        </button>
        <div class="dropdown-menu">
            <a href="{% url 'profile' user.id %}">Profile</a>
            <a href="{% url 'user-business' %}">Your businesses</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>

    {% else %}
    <div class="login">
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Sign-Up</button>
        </a>
    </div>
    {% endif %}
</header>

</body>

</html>
