{% extends 'main.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock extra_css %}


{% block content %}

<section class="search-intro">
    <div class="search-content">
        <h2>Find Businesses Near You</h2>
        <p>
          Discover local businesses, services, and hidden gems in any area.
          Whether you're looking for restaurants, salons, tech hubs, or local
          markets — we make it easy to explore what's nearby.
        </p>

        <form method="GET" action="{% url 'businesses' %}" class="search-form">
            <input type="text" name="b" placeholder="What are you looking for?"/>
            <input type="text" name="l" placeholder="Enter location"/>
            <button type="submit">Search</button>
        </form>
    </div>
</section>

<section id="top" class="top-view">
    <h1 class="section-title"> Top-Viewed Business</h1>
    <div class="top-grid">
        {% for business in businesses %}

        <a href="{% url 'business-page' business.id %}">
            <div class="top-box">
                <h3>{{business.name}}</h3>
                <h4>{{business__reviews.count}}</h4>
                <p>Category: {{business.category}}</p>
            </div>
        </a>
        {% endfor %}
        </div>
</section>

<section id="browse" class="browse-view">
    <h1 class="section-title"> Browse By Category</h1>
    <div class="browse button">
        {% for category in categories %}
        <button>{{category.name}}</button>
        {% endfor %}
    </div>
</section>

{% endblock content %}
